<%= form_for [current_user, @photo], :url => user_photos_path,:html => {:multipart => true} do |f| %>
  <%= f.file_field :photo %>
  <%= f.select :tagged %>
  <% @users.each do |user| %>
  <option value = user.id><%=user.email %></option>
  <% end %>
</select>

<%= f.submit "Load Photo" %>
<% end %>
